{% extends "base.html" %}

{% block css_tags %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}css/img_subj.css">
{% endblock %}

{% block script_tags %}
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/img_subj.js"></script>
{% endblock %}

{% block content %}
<form id="save_subj" action="" method="post">
	<fieldset>
		<legend>{{ legend }}</legend>
		{{ form.subject.label_tag }}: {{ form.subject }}
		<select id="subj_select">
			<option id="0">- Добавить тематику -</option>
			{% for si in subj_img_list %}
				<option id="{{ si.subj_id }}">{{ si.subject }}</option>
			{% endfor %}
		</select>
	</fieldset>
</form>
{% endblock %}
