{% extends "base.html" %}

{% block content %}
	<p>Данные об устройстве {{ dev.dev_id }} отредактированы.</p>
	<table>
	{% if type == 'input' %}
		<tr>
			<td>Модель: </td>
			<td>{{ dev.model }}</td>
		</tr>
		<tr>
			<td>Дата начала эксплуатации: </td>
			<td>{{ dev.expl_start_date }}</td>
		</tr>
		<tr>
			<td>Режим сканирования: </td>
			<td>{{ dev.scan_mode }}</td>
		</tr>
	{% else %}
		{% if type == 'output' %}
			<tr>
				<td>Модель: </td>
				<td>{{ dev.model }}</td>
			</tr>
			<tr>
				<td>Дата начала эксплуатации: </td>
				<td>{{ dev.expl_start_date }}</td>
			</tr>
			<tr>
				<td>Номер картриджа: </td>
				<td>{{ dev.cartridge_id }}</td>
			</tr>
			<tr>
				<td>Режим печати: </td>
				<td>{{ dev.print_mode }}</td>
			</tr>	
		{% endif %}
	{% endif %}
	</table>
	<a href="/dev_info">Устройства</a>
{% endblock %}