body {
	background-color: #eee;
}

ul#menu li {
	display: inline;
	list-style-type: none;
	padding-right: 2px;
}

th {
	text-align: left;
}

fieldset {
	border: 1px solid #aaa;
	width: 460px;
}

fieldset input.button {
	margin-left: 160px;
}

label {
	width: 160px;
	float: left;
	margin-right: 0.5em;
	padding-top: 0.2em;
	text-align: right;
	font-weight: bold;
}

legend {
	border: 1px solid #aaa;
}