{% extends "base.html" %}

{% block content %}
<select id="devs">
	<option value="input_dev">Устройство ввода</option>
	<option value="output_dev">Устройство вывода</option>
</select>
<a href="/dev_info/add">Добавить</a>
<br />
<br />
<div id="dev_output">
{% if input_devs_list %}
	{% for dev in input_devs_list %}
	<input type="radio" name="input_dev" value={{ dev.dev_id }}>Устройство ввода №{{ dev.dev_id }}:
	<table>
		<tr>
			<td>Модель: </td>
			<td>{{ dev.model }} </td>
		</tr>
		<tr>
			<td>Дата начала эксплуатации: </td>
			<td>{{ dev.expl_start_date }} </td>
		</tr>
		<tr>
			<td>Режим сканирования: </td>
			<td>{{ dev.scan_mode }} </td>
		</tr>
	</table>
	</input>
	{% endfor %}
{% endif %}
</div>	
<br />
<a href="/dev_info/input/{{dev.dev_id}}/edit">Редактировать</a>
|
<a href="/dev_info/input/remove">Удалить</a>
<br />
{% endblock %}