{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/application.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>
				